.topnav {
  background-color: #333;
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  text-align: center;
  width:1000px;
  margin:0 auto;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

button {
  background-color: #993333;
  border: 15px;
  color: black;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  animation: pulse 1s infinite; /* Play the pulse animation continuously on hover */
}
