.topnav {
  background-color: #333;
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  text-align: center;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

button:hover {
  animation: pulse 1s infinite; /* Play the pulse animation continuously on hover */
}
